*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    position: relative;
}
.news-container{
    margin: auto;
    margin-top: 10px;
    width: 70vw;
}
.news-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100vw;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.news-cards .card{
    margin: 40px;
    border: 2px solid rgb(247, 173, 173);
}
@media screen and (max-width:1060px) {
    .news-cards{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:680px) {
    .news-cards{
        grid-template-columns: auto;
    }
}